In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Revision').getOrCreate();

22/04/24 08:56:23 WARN Utils: Your hostname, Anshuls-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.9 instead (on interface en0)
22/04/24 08:56:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/24 08:56:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/04/24 08:56:26 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [9]:
df = spark.read.option("Header",True).csv("credit card.csv")

In [10]:
df.show(10,False)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0        |1            |1             |101348.88      |1     |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |1             |112542.58      |0     |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |0             |113931.57      |1     |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0        |2            |0             |93826.63       |0     |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1             |79084.1        |0     |
|6        |15574012  |Chu     |645        |Spain    |Male  |44 |8     |113755.78|2            |0             |149756.71      |1     |
|7        |15592531  |Bartlett|822        |France   |Male  |50 |7     |0        |2            |1             |10062.8        |0     |
|8        |15656148  |Obinna  |376        |Germany  |Female|29 |4     |115046.74|4            |0             |119346.88      |1     |
|9        |15792365  |He      |501        |France   |Male  |44 |4     |142051.07|2            |1             |74940.5        |0     |
|10       |15592389  |H?      |684        |France   |Male  |27 |2     |134603.88|1            |1             |71725.73       |0     |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 10 rows

In [17]:
df.columns

['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [ ]:
df.show