In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('UseCase').getOrCreate();

22/05/01 12:14:31 WARN Utils: Your hostname, Anshuls-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.9 instead (on interface en0)
22/05/01 12:14:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/01 12:14:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/01 12:14:33 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/05/01 12:14:33 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df = spark.read.option("header",True).option("inferSchema",True) .csv('loan.csv')
# inferSchema is use for creating schema automatically according to their data types

In [4]:
df.show()

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|               5|                 3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN|  9,87,611 |      7|      39,999|               8|                 1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN|  5,99,934 |      3|       9,000|               9|                 9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4|  null|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14054| 58|FEMALE|             DOCTOR|       MARRIED|          5| 60000|      25000|            5|           HOUSING|  9,00,000 |      5|      21,000|               9|                 0|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import *
df.groupBy().agg(count("*").alias("AJ")).show()
# Alias is use for Giving temp name to the column Name

+---+
| AJ|
+---+
|500|
+---+

In [6]:
df.describe()

DataFrame[summary: string, Customer_ID: string, Age: string, Gender: string, Occupation: string, Marital Status: string, Family Size: string, Income: string, Expenditure: string, Use Frequency: string, Loan Category: string, Loan Amount: string, Overdue: string,  Debt Record: string,  Returned Cheque: string,  Dishonour of Bill: string]

In [7]:
df.columns

['Customer_ID',
 'Age',
 'Gender',
 'Occupation',
 'Marital Status',
 'Family Size',
 'Income',
 'Expenditure',
 'Use Frequency',
 'Loan Category',
 'Loan Amount',
 'Overdue',
 ' Debt Record',
 ' Returned Cheque',
 ' Dishonour of Bill']

In [8]:
# no of users who taken loan more than 1 lac

In [9]:
df.filter(col('Loan Amount')>"10,00,00").show()

+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|       Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14008| 44|  MALE|        PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14024| 55|FEMALE|            NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14027| 51|  MALE|   SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|    IB14031| 37|FEMALE|SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|               5|                 3|
|    IB14032| 24|  MALE|     DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14034| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14037| 54|FEMALE|          TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14049| 49|  MALE|     BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
|    IB14078| 45|FEMALE|  FIRE DEPARTMENT|       MARRIED|          4| 40000|      18888|            4|        AUTOMOBILE|     70,000|      1|           0|               2|                 1|
|    IB14178| 51|  MALE|   SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       ELECTRONICS|     60,676|      8|      13,000|               2|                 5|
|    IB14181| 37|FEMALE|SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|   HOME APPLIANCES|     60,999|      2|           0|               5|                 3|
|    IB14184| 24|  MALE|     DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|       RESTAURANTS|     35,232|      5|      33,333|               1|                 2|
|    IB14186| 44|  MALE|        PROFESSOR|       MARRIED|          6| 59000|      19999|            4|        AUTOMOBILE|     50,000|      3|      33,999|               1|                 5|
|    IB14187| 30|FEMALE|          DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14194| 55|FEMALE|            NURSE|       MARRIED|          6| 34999|      19888|            4|        TRAVELLING|     47,787|      1|      50,000|               0|                 3|
|    IB14195| 32|  MALE| PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|          SHOPPING|     80,660|      6|       4,500|               5|                 4|
|    IB14197| 54|FEMALE|          TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|    300,999|      1|      12,000|               7|                 5|
|    IB14206| 51|  MALE|   SYSTEM MANAGER|       MARRIED|          3| 39999|      19111|            5|        AUTOMOBILE|     60,676|      8|      13,000|               2|                 5|
|    IB14215| 49|  MALE|     BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
+-----------+---+------+-----------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

22/05/01 16:16:35 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 633347 ms exceeds timeout 120000 ms
22/05/01 16:16:35 WARN SparkContext: Killing executors is not supported by current scheduler.

In [63]:
df1.show()

+-----------+
|Customer_Id|
+-----------+
+-----------+

In [66]:
df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [75]:
df1 = df.withColumn('Loan Amount', regexp_replace('Loan Amount', ',', '')) \
    .withColumn('Loan Amount',col("Loan Amount").cast('int')) 
# Replacing the string to the given String

In [76]:
df1.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: integer (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [77]:
df2 = df1.filter(col("Loan Amount")>100000).alias("More Amt") # Loan Amount is Greater than 100000

In [82]:
df2.show(10,False)

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+----------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|Occupation         |Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category   |Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+----------------+-----------+-------+------------+----------------+------------------+
|IB14001    |30 |MALE  |BANK MANAGER       |SINGLE        |4          |50000 |22199      |6            |HOUSING         |1000000    |5      |42,898      |6               |9                 |
|IB14018    |29 |MALE  |TEACHER            |MARRIED       |5          |45767 |12787      |3            |GOLD LOAN       |600000     |7      |11,000      |0               |4                 |
|IB14022    |34 |MALE  |POLICE             |SINGLE        |4          |43521 |11999      |3            |AUTOMOBILE      |200000     |2      |43,898      |1               |2                 |
|IB14025    |39 |FEMALE|TEACHER            |MARRIED       |6          |46619 |18675      |4            |HOUSING         |1209867    |8      |29,999      |6               |8                 |
|IB14029    |24 |FEMALE|TEACHER            |SINGLE        |3          |45008 |17454      |4            |AUTOMOBILE      |399435     |9      |51,987      |4               |7                 |
|IB14039    |45 |MALE  |ACCOUNT MANAGER    |MARRIED       |7          |45777 |18452      |4            |GOLD LOAN       |987611     |7      |39,999      |8               |1                 |
|IB14041    |59 |FEMALE|ASSISTANT PROFESSOR|MARRIED       |4          |50999 |22999      |5            |EDUCATIONAL LOAN|599934     |3      |9,000       |9               |9                 |
|IB14042    |25 |FEMALE|DOCTOR             |SINGLE        |4          |60111 |27111      |5            |TRAVELLING      |1290929    |4      |18,000      |1               |0                 |
|IB14045    |31 |MALE  |STORE KEEPER       |SINGLE        |5          |40999 |11999      |3            |BOOK STORES     |167654     |1      |4,500       |0               |1                 |
|IB14050    |56 |MALE  |CIVIL ENGINEER     |MARRIED       |4          |null  |13999      |3            |HOUSING         |1065577    |6      |19,999      |4               |2                 |
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+----------------+-----------+-------+------------+----------------+------------------+
only showing top 10 rows

In [98]:
df3 = df2.groupBy("Loan Category").agg(max(col("Loan Amount")).alias("Max")).orderBy("Max", ascending=False)
# Order by is use to sort and for descending we use ascending = False

In [99]:
df3.show()

+------------------+-------+
|     Loan Category|    Max|
+------------------+-------+
|        AUTOMOBILE|7541236|
|COMPUTER SOFTWARES|7541236|
|  EDUCATIONAL LOAN|2569874|
|           DINNING|2045789|
|           HOUSING|2045789|
|         GOLD LOAN|1773297|
|          BUSINESS|1723786|
|       ELECTRONICS|1719010|
|       RESTAURANTS|1695573|
|       AGRICULTURE|1682942|
|        TRAVELLING|1659080|
|        RESTAURANT|1582924|
|          SHOPPING|1404969|
|       BOOK STORES|1245789|
|   HOME APPLIANCES|1190732|
|          BUILDING| 745213|
+------------------+-------+

In [102]:
df4 = df.groupBy("Loan Category").agg(count(col("Loan Category")).alias("No of Loan Given Count")).orderBy("No of Loan Given Count")

In [103]:
df4.show()

+------------------+----------------------+
|     Loan Category|No of Loan Given Count|
+------------------+----------------------+
|       BOOK STORES|                     7|
|          BUILDING|                     7|
|       AGRICULTURE|                    12|
|       ELECTRONICS|                    14|
|           DINNING|                    14|
|   HOME APPLIANCES|                    14|
|        RESTAURANT|                    20|
|  EDUCATIONAL LOAN|                    20|
|          BUSINESS|                    24|
|          SHOPPING|                    35|
|COMPUTER SOFTWARES|                    35|
|       RESTAURANTS|                    41|
|        TRAVELLING|                    53|
|        AUTOMOBILE|                    60|
|           HOUSING|                    67|
|         GOLD LOAN|                    77|
+------------------+----------------------+

22/04/23 18:57:46 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 926752 ms exceeds timeout 120000 ms
22/04/23 18:57:46 WARN SparkContext: Killing executors is not supported by current scheduler.