In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Loan').getOrCreate()

22/05/07 23:16:58 WARN Utils: Your hostname, Anshuls-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.9 instead (on interface en0)
22/05/07 23:16:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/05/07 23:16:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/05/07 23:17:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
df = spark.read.option('header','True').csv('credit card.csv')

In [8]:
df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|        0|            1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|        0|            2|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|        0|            2|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|        0|            2|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|        0|            2|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|        0|            2|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|        0|            2|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|        0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|        0|            1|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|        0|            2|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [9]:
df.columns

['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [10]:
from pyspark.sql.functions import col

In [11]:
df2 = df.filter(col("CreditScore") > 700) # greater cs 700

In [12]:
df2.count()

3116

In [13]:
import pyspark.sql.functions as F
df.groupBy().agg(F.sum(col("CreditScore"))).show()

+----------------+
|sum(CreditScore)|
+----------------+
|       6505288.0|
+----------------+

In [14]:
df.groupBy().agg(F.sum(col("CreditScore"))).show()

+----------------+
|sum(CreditScore)|
+----------------+
|       6505288.0|
+----------------+

In [15]:
df.count()

10000

In [16]:
df2.filter((col("IsActiveMember")==1) & (col("CreditScore") > 700)).count() # no of Active Users

1637

In [17]:
df4 = df.groupBy('CustomerId').agg(F.count(col('Balance')))

In [18]:
df4.show()

+----------+--------------+
|CustomerId|count(Balance)|
+----------+--------------+
|  15693683|             1|
|  15724282|             1|
|  15588350|             1|
|  15637979|             1|
|  15775306|             1|
|  15794048|             1|
|  15743532|             1|
|  15596493|             1|
|  15751158|             1|
|  15706163|             1|
|  15606267|             1|
|  15802060|             1|
|  15728224|             1|
|  15662884|             1|
|  15748854|             1|
|  15783030|             1|
|  15593555|             1|
|  15663386|             1|
|  15762134|             1|
|  15581295|             1|
+----------+--------------+
only showing top 20 rows

In [19]:
df4.count()

10000

In [20]:
#Maximum withdrawal amount for each account

In [21]:
df.groupBy('CustomerId').agg(F.max(col('Balance'))).show()

+----------+------------+
|CustomerId|max(Balance)|
+----------+------------+
|  15565701|   161993.89|
|  15565706|           0|
|  15565714|    64430.06|
|  15565779|    57809.32|
|  15565796|    96048.55|
|  15565806|           0|
|  15565878|           0|
|  15565879|           0|
|  15565891|           0|
|  15565996|           0|
|  15566030|    80542.81|
|  15566091|           0|
|  15566111|           0|
|  15566139|    53573.18|
|  15566156|    71497.79|
|  15566211|   103560.57|
|  15566251|    96652.86|
|  15566253|   143391.07|
|  15566269|           0|
|  15566292|           0|
+----------+------------+
only showing top 20 rows

In [22]:
#sum of balance in every bank account
df6 = df.groupBy('CustomerId').agg(F.sum(col('Balance')))

In [23]:
df6.show()

+----------+------------+
|CustomerId|sum(Balance)|
+----------+------------+
|  15693683|     97086.4|
|  15724282|   164113.04|
|  15588350|   147832.15|
|  15637979|   127160.78|
|  15775306|   122384.22|
|  15794048|    97133.92|
|  15743532|   147004.34|
|  15596493|         0.0|
|  15751158|   108825.34|
|  15706163|   113625.93|
|  15606267|    98640.74|
|  15802060|   100548.67|
|  15728224|   149155.53|
|  15662884|   110597.76|
|  15748854|    91938.31|
|  15783030|         0.0|
|  15593555|         0.0|
|  15663386|         0.0|
|  15762134|    119152.1|
|  15581295|         0.0|
+----------+------------+
only showing top 20 rows

In [24]:
#Number of transaction on each date (date is not their)

In [25]:
df_txn= spark.read.option('header','True').csv('txn.csv')

In [26]:
df_txn.show(10)

+-------------+--------------------+----------+----------------+-------------+-----------+
|   Account No| TRANSACTION DETAILS|VALUE DATE| WITHDRAWAL AMT | DEPOSIT AMT |BALANCE AMT|
+-------------+--------------------+----------+----------------+-------------+-----------+
|409000611074'|TRF FROM  Indiafo...| 29-Jun-17|            null|      1000000|    1000000|
|409000611074'|TRF FROM  Indiafo...|  5-Jul-17|            null|      1000000|    2000000|
|409000611074'|FDRL/INTERNAL FUN...| 18-Jul-17|            null|       500000|    2500000|
|409000611074'|TRF FRM  Indiafor...|  1-Aug-17|            null|      3000000|    5500000|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|       500000|    6000000|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|       500000|    6500000|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|       500000|    7000000|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|       500000|    7500000|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|       500000|    8000000|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            null|       500000|    8500000|
+-------------+--------------------+----------+----------------+-------------+-----------+
only showing top 10 rows

In [27]:
df5 = df_txn.groupBy('Account No').agg(F.count(col('TRANSACTION DETAILS')))

In [28]:
df5.show(10)

+-------------+--------------------------+
|   Account No|count(TRANSACTION DETAILS)|
+-------------+--------------------------+
|409000438611'|                      4588|
|     1196711'|                     10521|
|     1196428'|                     48779|
|409000493210'|                      6014|
|409000611074'|                      1093|
|409000425051'|                       802|
|409000405747'|                        51|
|409000493201'|                      1044|
|409000438620'|                     13454|
|409000362497'|                     27356|
+-------------+--------------------------+

In [29]:
df5_alt = df_txn.groupBy('Account No').agg(F.count(col('VALUE DATE')))

In [30]:
df5_alt.show(10)

+-------------+-----------------+
|   Account No|count(VALUE DATE)|
+-------------+-----------------+
|409000438611'|             4588|
|     1196711'|            10536|
|     1196428'|            48779|
|409000493210'|             6014|
|409000611074'|             1093|
|409000425051'|              802|
|409000405747'|               51|
|409000493201'|             1044|
|409000438620'|            13454|
|409000362497'|            29840|
+-------------+-----------------+

In [31]:
# sum of balance in every bank account

In [32]:
df_sum = df_txn.groupBy('Account No').agg(F.sum(col('BALANCE AMT')))

In [33]:
df_sum.show(10,False) # DCS

+-------------+----------------------+
|Account No   |sum(BALANCE AMT)      |
+-------------+----------------------+
|409000438611'|-2.4948657706833955E12|
|1196711'     |-1.60476498101275E13  |
|1196428'     |-8.1418498130721E13   |
|409000493210'|-3.2758495213209575E12|
|409000611074'|1.615533622E9         |
|409000425051'|-3.7721184116499877E9 |
|409000405747'|-2.4310804706700016E10|
|409000493201'|1.0420831829499985E9  |
|409000438620'|-7.122918679513586E12 |
|409000362497'|-5.2860004792808E13   |
+-------------+----------------------+

In [34]:
#Number of transaction on each date

In [37]:
df_cnt = df_txn.groupBy('Account No').agg(F.count(col('TRANSACTION DETAILS')))

In [38]:
df_cnt.show()

+-------------+--------------------------+
|   Account No|count(TRANSACTION DETAILS)|
+-------------+--------------------------+
|409000438611'|                      4588|
|     1196711'|                     10521|
|     1196428'|                     48779|
|409000493210'|                      6014|
|409000611074'|                      1093|
|409000425051'|                       802|
|409000405747'|                        51|
|409000493201'|                      1044|
|409000438620'|                     13454|
|409000362497'|                     27356|
+-------------+--------------------------+